<ul>
  <% @movies.each do |movie| %>
    <li>
      <strong>
        <%= movie.title %>
      </strong>
      (<%= movie.rating %>):
      <%= total_gross(movie) %>
      <p>
        <%= truncate(movie.description, length: 40, separator: " ") %>
      </p>
      <%= movie.released_on.to_datetime.strftime("%m/%d/%Y") %>
      <p>
        The movie was released in <%= year_of(movie) %>
      </p>

    </li>
  <% end %>
</ul>
