<header>
  <nav>
    <h1>
      <%= link_to image_tag("logo.png", alt: "Flix Logo"), root_path %>
      <%#= get_application_name %>
    </h1>
    <ul class="left">
      <li>
        <%= nav_link_to "Released", movies_path %>
      </li>
      <li>
        <%= nav_link_to "Genres", genres_path %> <!--if current_user && current_user.admin?-->
      </li>
      <li>
        <%#= link_to "Movies by genre", genres_path %>
      </li>
      <li>
        <%= nav_link_to "Upcoming movies", filtered_movies_path(:upcoming) %>
      </li>
      <li>
        <%= nav_link_to "Recent movies", filtered_movies_path(:recent) %>
      </li>
      <li>
        <%= nav_link_to "Hit movies", filtered_movies_path(:hits) %>
      </li>
      <li>
        <%= nav_link_to "Flop movies", filtered_movies_path(:flops) %>
      </li>
    </ul>
    <ul class="right">
      <% if current_user %>
        <li>
          <%= link_to current_user.name, current_user %>
        </li>
        <li>
          <%= link_to "Account Settings", edit_user_path(current_user) %>
        </li>
        <li>
          <%= link_to "Sign Out", session_path, data: { turbo_method: :delete }, class: "button" %>
          <!--or make it a button-->
          <%#= button_to "Sign Out", session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign In", signin_path, class: "button" %>
        </li>
        <li>
          <%= link_to "Sign Up", signup_path, class: "button" %>
        </li>
      <% end %>
    </ul>
  </nav>

</header>